<html lang="en">
    <%- include('./partials/head.ejs') %>
  <body>

    <div class="header">
      <h1>Testing Express Application | <%= title %></h1>
      <p>This is a testing application for the Net Ninja Course</p>
      <div class="navigation">
        <%- include('./partials/nav.ejs') %>
      </div>
    </div>
    <div class="main content">
      <h2><%= blog.title %></h2>
      <div>
        <p><%= blog.body %></p>
      </div>
      <a href="" class="delete" data-doc="<%= blog._id %>"><button type="button" class="delete-button">Delete</button></a> 
    </div>  
  </body>
  <%- include('./partials/footer.ejs') %>
<!-- 
  <script>
    const deleteBtn = document.querySelector('a.delete');
    deleteBtn.addEventListener('click', () => {
      const endpoint = `/blogs/${deleteBtn.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE'
      })
        .then((response) => response.json())
        .then((data) => window.location.href = data.redirect)
        .catch(() => console.log(err));
    })
  </script> -->
</html>